a {
  color: #3372df;
  text-decoration: none;
}

a:visited {
  color: #1b50ab;
}

.block {
    padding: 20px 0;

    .main-row, .sub-row {
        display: block;
        clear: both;
        width: 100%;
        h1, h2, h3, h4, h5, h6 {
            padding: 6px 0 0 0;
        }

        .subtitle, .title {
            float: left;
            text-align: left;
            width: 75%;
        }
        .where, .when {
            text-align: right;
            float: right;
            width: 25%;
        }
    }
    ul {
        padding-top: 10px;
        clear: both;
    }
}

.listWithDates {
    padding: 10px 0;

    .main-row, .sub-row {
        display: block;
        clear: both;
        width: 100%;
        h1, h2, h3, h4, h5, h6 {
            padding: 6px 0 0 0;
        }

        .subtitle, .title {
            float: left;
            text-align: left;
            width: 75%;
        }
        .where, .when {
            text-align: right;
            float: right;
            width: 25%;
        }
    }
    ul {
        padding-top: 10px;
        clear: both;
    }
}

.talks {
  padding: 20px 0;

  .main-row {
      display: block;
      clear: both;
      width: 100%;
      h1, h2, h3, h4, h5, h6 {
          padding: 6px 0 0 0;
      }
      .title {
          float: left;
          text-align: left;
          width: 75%;
      }
      .when {
          text-align: right;
          float: right;
          width: 25%;
      }
  }

  .sub-row {
      display: block;
      clear: both;
      width: 100%;
      h1, h2, h3, h4, h5, h6 {
          padding: 6px 0 0 0;
      }
      .subtitle {
          float: left;
          text-align: left;
      }
      .where {
          text-align: right;
          float: right;
      }
  }

  p {
    padding-top: 5px;
    padding-left: 10px;
    clear: both;
  }
}

.intro {
  display: block;
  clear: both;
  width: 100%;

  .img {
      float: left;
      text-align: left;
      width: 50%;
  }
  .contact {
      text-align: right;
      float: right;
      width: 50%;
  }
}

.teaching-row {
  padding: 20px 0;
  
  display: block;
  clear: both;
  width: 100%;
  h1, h2, h3, h4, h5, h6 {
      padding: 6px 0 0 0;
  }

  .list {
      float: left;
      text-align: left;
      width: 100%;
  }
  .when {
      text-align: right;
      float: right;
      width: 30%;
  }
  
  ul {
      padding-top: 10px;
      clear: both;
  }
}

.icon {
  font-size: 150%;
  padding: 0 .25em;
  height: 24px;
}

footer {
    padding-top: 40px;
    text-align: center;
    opacity: .5;
}
