{% for section in blurb %}
    <div class="intro">
      <div class="img">
        <img src="https://github.com/michel-steuwer/michel-steuwer.github.io/raw/master/meRound.jpg"/>
      </div>
      <div class="contact">
          <address>
            Michel Steuwer<br>
            <a href="http://www.ed.ac.uk/informatics/about/location">10 Crichton Street<br>
            EH8 9AB Edinburgh<br>
            United Kingdom<br></a>
            <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:michel.steuwer@ed.ac.uk">michel.steuwer@ed.ac.uk</a>
          </address>
      </div>
      <div style="clear: both;"></div>
    </div>
{% endfor %}
